<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Bookstore</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
	<div class="col-md-4">
	<h1>Bookstore</h1>
	</div>
	<br>
	<div class="col-md-4">
	<!-- This will show the logged in user name after the Welcome text. -->
	<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<br>
	<div class="col-md-4">
	<form th:action="@{/logout}" method="post">
	<input type="submit" value="Sign out" class="btn btn-sm btn-danger"/></form>
	</div>
	
	<table class="table table-striped">
		<tbody>
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Year</th>
			<th>ISBN</th>
			<th>Price</th>
			<th>Category</th>
			<th sec:authorize="hasAuthority('ADMIN')">Delete</th>
			<th>Edit</th>
		</tr>
		<!-- th:each loops the model attribute "books" through and inputs its content to the "book" object, which is declared here -->
		<tr th:each = "book : ${books}">
		<!-- th:each views the content of the book object, which was declared above. You need to use the Book class attribute with the book object to print the content of it, i.e.: book.title, book.author, etc. -->
		<td th:text = "${book.title}"></td>
		<td th:text = "${book.author}"></td>
		<td th:text = "${book.year}"></td>
		<td th:text = "${book.isbn}"></td>
		<td th:text = "${book.price}"></td>
		<!-- Because Book is linked to Category (they have relationship) the category of specific book can be showed. -->
		<td th:text = "${book.category.name}"></td>
		<!-- With the "@" and "{id}" the delete function links to the id of that row. So if there's five rows with ids' 1, 2, 3, 4 and 5, the particular row data will be deleted based on the id it has. -->
		<!-- With sec:authorize the delete button can be restricted only for ADMIN role -->
		<td sec:authorize="hasAuthority('ADMIN')"><a th:href = "@{/delete/{id}(id=${book.id})}" class="btn btn-xs btn-danger">Delete</a></td>
		<td><a th:href = "@{/edit/{id}(id=${book.id})}" class="btn btn-xs btn-success">Edit</a></td>
		</tr>
		</tbody>
		</table>
		
		
		<br>
		<a href = "/add" class = "btn btn-large btn-success">Add a Book</a>
		<a href = "/newcateg" class = "btn btn-large btn-success">Create a Category</a>
		<td sec:authorize="hasAuthority('ADMIN')"><a href = "/userlist" class = "btn btn-large btn-success">User list</a></td>
	
</div>	
</body>
</html>